---
const footerSections = [
    {
        title: "Servicios",
        links: [
            { label: "Diseño Web", href: "#services" },
            { label: "Desarrollo", href: "#services" },
            { label: "Responsividad", href: "#services" },
            { label: "SEO", href: "#services" },
        ],
    },
    {
        title: "Nuestro Proceso",
        links: [
            { label: "Consulta", href: "#our-process" },
            { label: "Diseño", href: "#our-process" },
            { label: "Desarrollo", href: "#our-process" },
            { label: "Lanzamiento", href: "#our-process" },
        ],
    },
    {
        title: "¿Por qué elegirnos?",
        links: [
            { label: "Tecnología", href: "#why-choose-us" },
            { label: "Seguridad", href: "#why-choose-us" },
            { label: "Puntualidad", href: "#why-choose-us" },
            { label: "Dedicación", href: "#why-choose-us" },
        ],
    },
];
---

<footer class="bg-gray-900">
    <div class="container mx-auto py-12 px-4 sm:px-6 md:py-12 md:px-2">
        <div class="pb-8 border-b border-gray-700">
            <div class="lg:grid lg:grid-cols-3 lg:gap-8">
                <div>
                    <div class="flex items-center space-x-3 h-8">
                        <img src="/koala.webp" alt="KoalaDevs | Diseño y desarrollo de páginas web en Bogotá" role="presentation" class="w-10 h-10" />
                        <div class="flex flex-col -space-y-2">
                            <a href="#hero" data-scroll>
                                <span
                                    class="text-2xl md:text-4xl font-bold bg-clip-text text-white"
                                >
                                    KoalaDevs
                                </span>
                            </a>
                        </div>
                    </div>
                    <p class="mt-4 max-w-md text-gray-400">
                        Transformamos ideas en experiencias digitales
                        excepcionales. Diseño web moderno y desarrollo de alta
                        calidad para tu negocio.
                    </p>
                </div>
                <div class="hidden md:block mt-12 lg:mt-0 md:col-span-2">
                    <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-3">
                        {
                            footerSections.map((section) => (
                                <div>
                                    <span class="text-sm font-semibold text-gray-400 tracking-wider capitalize">
                                        {section.title}
                                    </span>
                                    <ul class="mt-4 md:space-y-4 hidden md:block">
                                        {section.links.map((link) => (
                                            <li>
                                                <a
                                                    href={link.href}
                                                    data-scroll
                                                    class="text-sm text-gray-300 hover:text-white transition-colors"
                                                >
                                                    {link.label}
                                                </a>
                                            </li>
                                        ))}
                                    </ul>
                                </div>
                            ))
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-8">
            <p class="text-base text-gray-400">
                &copy; {new Date().getFullYear()} KoalaDevs. Todos los derechos reservados.
            </p>
        </div>
    </div>
</footer>
