---

---

<footer class="bg-gray-900 text-white">
    <div class="container mx-auto flex flex-row py-12 gap-12 justify-between border-b border-white">
        <div class="w-1/3">
            <span>WebCraft</span>
            <p>Transformamos ideas en experiencias digitales excepcionales. Diseño web moderno y desarrollo de alta calidad para tu negocio.</p>
        </div>
        <div>
            <ul class="flex flex-row gap-4">
                <li><a href="#">Servicios</a></li>
                <li><a href="#">¿Por qué elegirnos?</a></li>
                <li><a href="#">Nuestro proceso</a></li>
                <li><a href="#">Contáctanos</a></li>
            </ul>
        </div>
    </div>
    <div class="container mx-auto">
        <div class="flex flex-row py-10 gap-12 justify-between">
            <div class="flex flex-row gap-2">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    >
                    <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                    <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
                </svg>
                Bogotá D.C
            </div>
            <div class="flex flex-row gap-2">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    >
                    <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                </svg>
                +57 301 570 3750
            </div>
            <div class="flex flex-row gap-2">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    >
                    <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                    <path d="M3 7l9 6l9 -6" />
                </svg>
                yonkitas9@gmail.com
            </div>
            <div class="flex flex-row gap-2">
                <a href="https://www.linkedin.com/in/jhonatandavidbecerradonado-frontend/">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        >
                        <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                        <path d="M8 11l0 5" />
                        <path d="M8 8l0 .01" />
                        <path d="M12 16l0 -5" />
                        <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                    </svg>
                </a>
                Jhonatan Becerra
            </div>
        </div>
    </div>
</footer>