---
import { BurguerMenuIcon, MainLogoIcon, CloseButtonIcon } from "./assets/Icons";
---

<header
    id="header"
    class="absolute w-full z-50 transition-all duration-300 bg-transparent"
>
    <div class="max-w-7xl mx-auto px-4 sm:px-6" id="main-header">
        <div class="flex justify-between items-center py-4">
            <a href="#hero" data-scroll><MainLogoIcon /></a>
            <nav class="hidden md:flex items-center space-x-8">
                <a href="#hero" class="btn-link" data-scroll>Inicio</a>
                <a href="#services" class="btn-link" data-scroll>Servicios</a>
                <a href="#our-process" class="btn-link" data-scroll
                    >Nuestro Proceso</a
                >
                <a href="#why-choose-us" class="btn-link" data-scroll
                    >¿Por qué elegirnos?</a
                >
                <a href="#pricing" class="btn-link" data-scroll>Planes</a>
                <a href="#FAQ" class="btn-link" data-scroll
                    >Preguntas Frecuentes</a
                >
                <a href="#contact-us" class="btn-primary" data-scroll
                    >Contáctanos</a
                >
            </nav>
            <button id="open-menu" class="md:hidden"><BurguerMenuIcon aria-label="Abrir Menu"/></button
            >
        </div>
    </div>
    <div
        class="absolute bg-white h-screen top-0 p-10 w-4/5 pt-4 shadow-2xl transition-all duration-200 z-50 rounded-l-3xl opacity-0 invisible"
        id="mobile-menu"
    >
        <button id="close-menu" class="absolute right-4 top-5" aria-label="Cerrar Menu"
            ><CloseButtonIcon /></button
        >
        <div class="mb-8"><MainLogoIcon /></div>
        <ul class="flex flex-col space-y-4">
            <li>
                <a href="#hero" class="item-menu btn-link" data-scroll
                    >Inicio</a>
            </li>
            <li>
                <a href="#services" class="item-menu btn-link" data-scroll
                    >Servicios</a>
            </li>
            <li>
                <a href="#our-process" class="item-menu btn-link" data-scroll
                    >Nuestro Proceso</a>
            </li>
            <li>
                <a href="#why-choose-us" class="item-menu btn-link" data-scroll
                    >¿Por qué elegirnos?</a>
            </li>
            <li>
                <a href="#pricing" class="item-menu btn-link" data-scroll
                    >Planes</a>
            </li>
            <li>
                <a href="#FAQ" class="item-menu btn-link" data-scroll
                    >Preguntas Frecuentes</a>
            </li>
            <li>
                <a
                    href="#contact-us"
                    class="btn-primary item-menu mt-5"
                    data-scroll>Contáctanos</a>
            </li>
        </ul>
    </div>
</header>

<script>
    const header = document.getElementById("header");
    window.addEventListener("scroll", () => {
        if (window.scrollY > 0) {
            header?.classList.remove("absolute", "bg-transparent");
            header?.classList.add(
                "fixed",
                "bg-white/60",
                "backdrop-blur-lg",
                "shadow-sm",
            );
        } else {
            header?.classList.remove(
                "fixed",
                "bg-white/60",
                "backdrop-blur-lg",
                "shadow-sm",
            );
            header?.classList.add("absolute", "bg-transparent");
        }
    });

    const openMenu = document.getElementById("open-menu");
    const closeMenu = document.getElementById("close-menu");
    const mobileMenu = document.getElementById("mobile-menu");
    const home = document.getElementById("home");
    const links = document.querySelectorAll(".item-menu");
    const mainHeader = document.getElementById("main-header");

    openMenu?.addEventListener("click", () => {
        mobileMenu?.classList.remove("opacity-0", "invisible");
        mobileMenu?.classList.add("translate-x-[25%]", "opacity-100", "visible");
        home?.classList.add("opacity-10");
        mainHeader?.classList.add("opacity-10");
    });

    closeMenu?.addEventListener("click", () => {
        mobileMenu?.classList.add("opacity-0", "invisible");
        mobileMenu?.classList.remove("translate-x-[25%]", "opacity-100", "visible");
        home?.classList.remove("opacity-10");
        mainHeader?.classList.remove("opacity-10");
    });

    links.forEach((link) => {
        link.addEventListener("click", () => {
            mobileMenu?.classList.add("opacity-0", "invisible");
            mobileMenu?.classList.remove("translate-x-[25%]", "opacity-100", "visible");
            home?.classList.remove("opacity-10");
            mainHeader?.classList.remove("opacity-10");
        });
    });
</script>
