---
import { MainLogoIcon } from "./assets/Icons";
---

<header
    id="header"
    class="absolute w-full z-50 transition-all duration-300 bg-transparent"
>
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <div class="flex justify-between items-center py-4">
            <a href="#hero" data-scroll><MainLogoIcon /></a>
            <nav class="hidden md:flex items-center space-x-8">
                <a href="#hero" class="btn-link" data-scroll>Inicio</a>
                <a href="#services" class="btn-link" data-scroll>Servicios</a>
                <a href="#our-process" class="btn-link" data-scroll
                    >Nuestro Proceso</a
                >
                <a href="#why-choose-us" class="btn-link" data-scroll
                    >¿Por qué elegirnos?</a
                >
                <a href="#pricing" class="btn-link" data-scroll>Planes</a>
                <a href="#contact-us" class="btn-primary" data-scroll
                    >Contáctanos</a
                >
            </nav>
        </div>
    </div>
</header>

<script>
    const header = document.getElementById("header");
    window.addEventListener("scroll", () => {
        if (window.scrollY > 0) {
            header?.classList.remove("absolute", "bg-transparent");
            header?.classList.add(
                "fixed",
                "bg-white/60",
                "backdrop-blur-lg",
                "shadow-sm",
            );
        } else {
            header?.classList.remove(
                "fixed",
                "bg-white/60",
                "backdrop-blur-lg",
                "shadow-sm",
            );
            header?.classList.add("absolute", "bg-transparent");
        }
    });
</script>
