---
import { MainLogoIcon } from "../../assets/Icons";
---
<header
    id="header"
    class="absolute w-full z-50 transition-all duration-300 bg-transparent"
>
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <div class="flex justify-between items-center py-4">
            <MainLogoIcon />
            <nav class="hidden md:flex items-center space-x-8">
                <a href="#hero" class="btn-link" data-scroll>Inicio</a>
                <a href="#services" class="btn-link" data-scroll>Servicios</a>
                <a href="#why-choose-us" class="btn-link" data-scroll
                    >¿Por qué elegirnos?</a
                >
                <a href="#our-process" class="btn-link" data-scroll
                    >Nuestro Proceso</a
                >
                <a href="#contact-us" class="btn-primary" data-scroll
                    >Contáctanos</a
                >
            </nav>
        </div>
    </div>
</header>