@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-50 font-sans;
  }
}

summary {
  display: block;
  list-style: none;
}

summary::after {
  display: block;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

details summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  user-select: none;
}

details summary .toggle-icon::after {
  content: '+';
  transition: transform 0.3s ease;
}

details[open] summary .toggle-icon::after {
  content: '-';
}

@layer components {
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-indigo-600 to-purple-600;
  }

  .btn-primary {
    @apply inline-flex items-center px-6 py-3 rounded-full bg-gradient-to-r from-indigo-600 to-purple-600 text-white font-medium shadow-lg hover:shadow-xl transition-all duration-300 hover:-translate-y-0.5;
  }

  .btn-primary-disabled {
    @apply inline-flex items-center px-6 py-3 rounded-full bg-gray-300 text-gray-100 cursor-not-allowed font-medium shadow-lg;
  }


  .btn-link {
    @apply text-slate-600 font-medium transition-colors hover:text-primary-600;
  }

  .section-title {
    @apply text-4xl md:text-5xl font-bold tracking-tight;
  }

  .card-hover {
    @apply transition-all duration-300 hover:shadow-xl hover:-translate-y-1;
  }
}

.form-input {
  @apply w-full px-4 py-3 bg-gray-100 rounded-xl font-medium focus:outline-primary-600;
}

.form-input::placeholder {
  @apply focus:font-light focus:italic;
}

.toast-custom {
  @apply py-3 font-medium;
}