---
import {
    TechIcon,
    SecurityIcon,
    DeliveryIcon,
    SupportIcon,
} from "../assets/Icons";
export const features = [
    {
        title: "Tecnología Moderna",
        description:
            "Utilizamos las últimas tecnologías y mejores prácticas para crear sitios web rápidos y seguros.",
        icon: TechIcon,
    },
    {
        title: "Seguridad Garantizada",
        description:
            "Implementamos las mejores prácticas de seguridad para proteger tu sitio web y tus datos.",
        icon: SecurityIcon,
    },
    {
        title: "Entregas Puntuales",
        description:
            "Nos comprometemos a entregar tu proyecto en el tiempo acordado, sin retrasos.",
        icon: DeliveryIcon,
    },
    {
        title: "Soporte Dedicado",
        description:
            "Brindamos acompañamiento continuo durante el desarrollo de tu proyecto.",
        icon: SupportIcon,
    },
];
---

<section class="py-20 bg-slate-200" id="why-choose-us">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center">
            <h2 class="text-3xl md:text-5xl leading-[1.1em] font-bold">
                ¿Cómo hacemos <span class="gradient-text"
                    >realidad tu idea?</span
                >
            </h2>
            <p class="mt-4 text-xl md:text-2xl text-gray-600 leading-[1.1em]">
                Diseñamos experiencias digitales únicas, enfocadas en hacer
                crecer tu negocio y conectar con tus clientes.
            </p>
        </div>

        <div class="mt-12 grid gap-8 md:grid-cols-2 xl:grid-cols-4">
            {
                features.map((feature) => (
                    <div class="bg-white p-4 md:p-6 rounded-xl flex flex-col items-start text-start transition-transform duration-300 md:hover:-translate-y-1 md:hover:shadow-[0_4px_20px_rgba(0,0,0,0.12)] border border-gray-100">
                        <div class="p-2 bg-primary-50 mb-2 w-fit rounded-lg">
                            {" "}
                            <feature.icon />
                        </div>
                        <h3 class="text-lg md:text-xl font-bold leading-[1.1em]">
                            {feature.title}
                        </h3>
                        <p class="text-base md:text-lg mt-2 text-gray-600 leading-[1.1em]">
                            {feature.description}
                        </p>
                    </div>
                ))
            }
        </div>
    </div>
</section>
