---
import ContactForm from "../assets/ContactForm";
import {
    LocationIcon,
    CalendarIcon,
    MailIcon,
    PhoneIcon,
    InstagramIcon,
    LinkedInIcon,
    WhatsappIcon,
} from "../assets/Icons";

const contactDetails = [
    { icon: MailIcon, label: "Email", value: "contactwithkoaladevs@gmail.com" },
    { icon: PhoneIcon, label: "Teléfono", value: "+57 (301) 570-3750" },
    { icon: LocationIcon, label: "Ubicación", value: "Bogotá, Colombia" },
    {
        icon: CalendarIcon,
        label: "Horario",
        value: "Lun-Vie: 9:00 a.m - 18:00 p.m",
    },
];
---

<section class="min-h-screen flex items-center overflow-hidden py-20 md:py-24 relative" id="contact-us">
    <div class="absolute inset-0 opacity-30">
        <div
            class="absolute -top-1/4 -right-1/4 w-1/2 h-1/2 bg-gradient-to-br from-primary-400/30 to-purple-400/30 rounded-full blur-3xl"
        >
        </div>
        <div
            class="absolute -bottom-1/4 -left-1/4 w-1/2 h-1/2 bg-gradient-to-tr from-indigo-400/30 to-primary-400/30 rounded-full blur-3xl"
        >
        </div>
    </div>

    <div class="relative container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-12">
            <h2 class="text-3xl md:text-5xl leading-[1.1em] font-bold">
                ¡Hablemos sobre tu <span class="gradient-text"
                    >próximo proyecto!</span
                >
            </h2>
            <p class="mt-4 text-xl md:text-2xl text-gray-600">
                Estamos listos para hacer realidad tu visión digital
            </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-[2fr_1fr] gap-8">
            <div class="rounded-xl">
                <div class="w-full">
                    <ContactForm client:load />
                </div>
            </div>

            <div
                class="bg-gradient-to-b from-primary-50 to-gray-50 py-4 px-8 rounded-xl self-start"
            >
                <div class="space-y-5">
                    <div>
                        <h3
                            class="text-2xl font-extrabold text-gray-900 flex text-center justify-center"
                        >
                            Información de Contacto
                        </h3>
                        <p
                            class="text-gray-600 flex justify-center md:text-md text-center"
                        >
                            Estamos aquí para ayudarte a hacer realidad tu
                            próximo proyecto digital.
                        </p>
                    </div>
                    {
                        contactDetails.map((detail) => (
                            <div class="flex items-center space-x-4">
                                <div class="p-3 bg-primary-600 rounded-full">
                                    <detail.icon />
                                </div>
                                <div>
                                    <p class="md:text-md font-bold text-gray-900">
                                        {detail.label}
                                    </p>
                                    <p class="md:text-base text-gray-600 font-normal">
                                        {detail.value}
                                    </p>
                                </div>
                            </div>
                        ))
                    }
                    <hr class="border-t border-gray-300" />
                    <div class="flex justify-center space-x-4">
                        <a
                            href="https://www.linkedin.com/in/jhonatandavidbecerradonado-frontend/"
                            target="_blank"
                            class="text-gray-600"
                            aria-label="Visitar mi perfil de LinkedIn"
                        >
                            <!-- <LinkedInIcon /> -->
                        </a>
                        <a
                            href="https://www.instagram.com/shannalotte/"
                            target="_blank"
                            class="text-gray-600"
                            aria-label="Visitar mi perfil de Instagram"
                        >
                            <!-- <InstagramIcon /> -->
                        </a>
                        <a
                            href="https://api.whatsapp.com/send?phone=573015703750&text=%C2%A1Hola!%20%F0%9F%91%8B%20Me%20encontr%C3%A9%20con%20tu%20proyecto%20de%20desarrollo%20web%20y%20estoy%20muy%20interesado%20en%20conocer%20m%C3%A1s%20detalles.%20Me%20gustar%C3%ADa%20discutir%20c%C3%B3mo%20podr%C3%ADamos%20colaborar%20para%20crear%20algo%20incre%C3%ADble%20juntos.%20%F0%9F%92%BC%20%C2%A1Espero%20tu%20respuesta!"
                            target="_blank"
                            class="text-gray-600"
                            aria-label="Enviar un mensaje por WhatsApp"
                        >
                            <WhatsappIcon />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
