---
const faqItems = [
    {
        question: "¿Cuánto tiempo toma desarrollar un sitio web?",
        answer: "El tiempo varía según la complejidad del proyecto. Un sitio web básico puede estar listo en 2-3 semanas, mientras que proyectos más complejos pueden tomar 4-6 semanas.",
    },
    {
        question: "¿Qué necesito para empezar?",
        answer: "Solo necesitas tener una idea clara de tu proyecto y cualquier material que quieras incluir (logos, textos, imágenes). ¡Nosotros nos encargamos del resto!",
    },
    {
        question: "¿El diseño es personalizado o usas plantillas?",
        answer: "El diseño es completamente personalizado para tu marca y tus necesidades, asegurando que tu sitio web se distinga de los demás.",
    },
    {
        question: "¿Ofrecen soluciones móviles?",
        answer: "Sí, todos nuestros sitios web están diseñados para ser completamente responsivos, lo que significa que se adaptarán perfectamente a cualquier dispositivo móvil.",
    },
];
---

<section class="bg-slate-200 py-10 md:pt-20 md:pb-20" id="FAQ">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
            <div class="gap-4 flex flex-col text-center md:text-start">
                <h2 class="text-3xl md:text-5xl leading-[1.1em] font-bold">
                    ¿Tienes preguntas? <br />
                    <span class="gradient-text">Nosotros te respondemos.</span>
                </h2>
                <p
                    class="hidden md:block md:text-2xl text-gray-600 leading-[1.1em]"
                >
                    Explora las respuestas a las dudas más comunes que tenemos
                    sobre nuestros servicios de desarrollo web. ¡Tu tranquilidad
                    es nuestra prioridad!
                </p>
                <span class="leading-[1.1em] hidden md:block">
                    ¿Tienes más dudas?
                    <a
                        href="#contact-us"
                        data-scroll
                        class="text-primary-600 leading-[1.1em]"
                    >
                        ¡Contactanos ahora!
                    </a>
                </span>
            </div>
            <div class="space-y-4">
                {
                    faqItems.map((faq) => (
                        <details class="bg-white rounded-xl overflow-hidden shadow-sm hover:shadow-md transition-all duration-300">
                            <summary class="w-full px-6 py-4 flex justify-between items-center gap-4 cursor-pointer">
                                <span class="text-left font-medium text-gray-800 leading-[1.1em]">
                                    {faq.question}
                                </span>
                                <span class="text-primary-600 text-2xl toggle-icon" />
                            </summary>
                            <p class="text-gray-600 px-6 pb-4 leading-[1.1em]">
                                {faq.answer}
                            </p>
                        </details>
                    ))
                }
            </div>
            <span class="leading-[1.1em] text-center md:hidden">
                ¿Tienes más dudas?
                <a
                    href="#contact-us"
                    data-scroll
                    class="text-primary-600 leading-[1.1em]"
                >
                    ¡Contactanos ahora!
                </a>
            </span>
        </div>
    </div>
</section>
