---
import { CleanCodeIcon } from "../assets/Icons";
---

<section id="hero" class="relative min-h-screen flex items-center bg-slate-100">
    <div class="absolute inset-0 overflow-hidden md:overflow-visible">
        <div
            class="absolute -top-1/4 -right-1/4 w-1/2 h-1/2 bg-gradient-to-br from-primary-400/30 to-primary-400/30 rounded-full blur-3xl"
        >
        </div>
        <div
            class="absolute -bottom-1/4 -left-1/4 w-1/2 h-1/2 bg-gradient-to-tr from-indigo-400/30 to-primary-400/30 rounded-full blur-3xl"
        >
        </div>
    </div>

    <div class="relative container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid lg:grid-cols-2 items-center">
            <div class="space-y-8 text-left">
                <div class="space-y-4">
                    <h1
                        class="text-[46px] md:text-[3.5vw] leading-[1.1em] font-bold"
                    >
                        En <span class="gradient-text"> KoalaDevs </span>
                        Transformamos Ideas en
                        <span class="gradient-text">Experiencias Digitales</span
                        >
                    </h1>
                </div>
                <div
                    class="flex flex-col sm:flex-row gap-4 items-center justify-start"
                >
                    <a
                        href="#pricing"
                        data-scroll
                        class="btn-primary md:w-fit gap-1 w-full"
                    >
                        Cotiza tu página web <span class="animate-bounce mt-1"
                        ></span>
                    </a>
                    <!-- <a
                        href="#"
                        data-scroll
                        class="btn-ghost mb-8 md:mb-0 w-full md:w-fit"
                    >
                        ¿Por qué tener una página web en 2025?
                    </a> -->
                </div>
            </div>

            <div class="hidden relative lg:block">
                <div class="relative rounded-2xl overflow-hidden shadow-2xl">
                    <div
                        class="absolute inset-0 bg-gradient-to-br from-primary-600/10 to-purple-600/10"
                    >
                    </div>
                    <img
                        src="/bg.webp"
                        alt="Desarrollo web"
                        class="w-full h-full object-cover"
                    />
                </div>
                <div
                    class="absolute -top-4 -right-4 bg-white p-3 rounded-xl shadow-lg flex items-center space-x-2"
                >
                    <CleanCodeIcon />
                    <span class="font-medium text-slate-700">Código Limpio</span
                    >
                </div>

                <div
                    class="absolute -bottom-4 -left-4 bg-white p-4 rounded-xl shadow-lg"
                >
                    <div class="flex items-center space-x-2">
                        <div class="w-2 h-2 rounded-full bg-green-500"></div>
                        <span class="text-sm font-medium text-slate-700"
                            >100% Optimizado</span
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
