---
import Process from "../assets/Process";
---

<section class="bg-slate-100 py-20" id="our-process">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
            <div class="flex flex-col text-center md:text-start">
                <h2 class="text-3xl md:text-5xl leading-[1.1em] font-bold">
                    ¿Cómo es <span class="gradient-text">Nuestro Proceso?</span>
                </h2>
                <p
                    class="mt-4 text-xl md:text-2xl text-gray-600 leading-[1.1em] "
                >
                    Transformamos tus ideas en un sitio web funcional y
                    atractivo, optimizando cada etapa del proceso desde la
                    planificación hasta el lanzamiento.
                </p>
                <img
                    src="/koalas.webp"
                    alt="Team Koalas"
                    class="w-full h-full"
                />
            </div>
            <Process client:load />
        </div>
    </div>
</section>
