---
import {
  CorporateIcon,
  ResponsiveIcon,
  DesignIcon,
  SeoIcon,
} from "../assets/Icons";

export const services = [
  {
    title: "Sitios Web Corporativos",
    description:
      "Diseñamos y desarrollamos sitios web profesionales que representan la identidad de tu empresa.",
    icon: CorporateIcon,
  },
  {
    title: "Diseño Responsivo",
    description:
      "Tu sitio web se verá perfecto en cualquier dispositivo, desde móviles hasta pantallas de escritorio.",
    icon: ResponsiveIcon,
  },
  {
    title: "Diseño UI/UX",
    description:
      "Creamos interfaces intuitivas y atractivas que mejoran la experiencia de tus usuarios.",
    icon: DesignIcon,
  },
  {
    title: "Optimización SEO",
    description:
      "Mejoramos la visibilidad de tu sitio web en los motores de búsqueda.",
    icon: SeoIcon,
  },
];
---

<section class="py-20 md:py-24 bg-slate-100" id="services">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">
        Nuestros servicios
      </h2>
      <p class="mt-4 max-w-2xl mx-auto text-xl text-gray-500">
        Soluciones web completas para hacer crecer tu negocio
      </p>
    </div>

    <div class="mt-12 grid gap-8 sm:grid-cols-2 lg:grid-cols-4">
      {
        services.map((service) => (
          <div class="bg-white p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-blue-500 rounded-lg shadow-md md:shadow-sm md:hover:shadow-lg transition-shadow flex flex-col items-center text-center">
            <div class="bg-blue-50 p-2 mb-4 w-fit rounded-lg">
              {" "}
              <service.icon />
            </div>
            <div class="flex flex-col gap-1">
              <h3 class="text-lg font-medium text-gray-900">{service.title}</h3>
              <p class="mt-2 text-gray-500">{service.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
