---
import ChooseUs from "../components/Astro/Sections/ChooseUs.astro";
import Footer from "../components/Astro/Layout/Footer.astro";
import Header from "../components/Astro/Layout/Header.astro";
import Hero from "../components/Astro/Sections/Hero.astro";
import Services from "../components/Astro/Sections/Services.astro";
import Layout from "../layouts/Layout.astro";
import "../assets/styles/globals.css";
---

<Layout>
    <div class="min-h-screen bg-white">
        <Header />
        <main>
            <Hero />
            <Services />
            <ChooseUs />
        </main>
        <Footer />
    </div>
</Layout>

<script src="/src/assets/scripts/scroll.js"></script>
<script src="/src/assets/scripts/smooth-scroll.js"></script>