---
import ChooseUs from "../components/home/ChooseUs.astro";
import Hero from "../components/home/Hero.astro";
import Services from "../components/home/Services.astro";
import Layout from "../layouts/Layout.astro";
import "../assets/styles/globals.css";
import OurProcess from "../components/home/OurProcess.astro";
import FAQ from "../components/home/FAQ.astro";
import Prices from "../components/home/Prices.astro";
import ContactUs from "../components/home/ContactUs.astro";
---

<Layout>
    <div class="min-h-screen bg-white" id="home">
        <Hero />
        <Services />
        <OurProcess />
        <ChooseUs />
        <Prices />
        <FAQ />
        <ContactUs />
    </div>
</Layout>

<script src="/src/assets/scripts/smooth-links.js"></script>