---
import Header from "../components/Astro/Header.astro";
import Hero from "../components/Astro/Hero.astro";
import "../styles/globals.css";
---

<div class="min-h-screen bg-white">
    <Header />
    <main>
        <Hero />
    </main>
</div>
