---
import { Logo } from "../Solid/Logo"
---


<header class="fixed w-full z-50 bg-white/80 backdrop-blur-lg shadow-sm">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
        <div class="flex justify-between items-center py-4">
            <Logo />
            <nav class="hidden md:flex items-center space-x-8">
                <a href="#" class="btn-link">Inicio</a>
                <a href="#" class="btn-link">Servicios</a>
                <a href="#" class="btn-link">¿Por qué Elegirnos?</a>
                <a href="#" class="btn-link">Nuestro Proceso</a>
                <a
                    href="#"
                    class="btn-primary"
                    >Contáctanos</a
                >
            </nav>
        </div>
    </div>
</header>
