---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Toaster } from "solid-toast";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Diseño y desarrollo de páginas web en Colombia. Creamos sitios optimizados para SEO, rendimiento y adaptables a cualquier dispositivo. ¡Impulsa tu presencia online hoy! +57 3015703750"
        />
        <meta
            name="keywords"
            content="diseño web Bogotá, desarrollo de páginas web Colombia, diseño web responsive, desarrollo web SEO, páginas web para negocios Bogotá"
        />
        <meta name="author" content="KoalaDevs" />
        <meta name="geo.region" content="CO-DC" />
        <meta name="geo.placename" content="Bogotá" />
        <meta
            property="og:title"
            content="Diseño de páginas Web en Bogotá | KoalaDevs"
        />
        <meta
            property="og:description"
            content="Creamos sitios optimizados para SEO, rendimiento y adaptabilidad. ¡Impulsa tu presencia online hoy!"
        />
        <meta property="og:url" content="https://koala-devs.com/" />
        <meta property="og:type" content="website" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>
            Diseño de páginas web en Bogotá | KoalaDevs

        </title>
        <meta
            name="google-site-verification"
            content="DvORPx4e1byP8W8N39K0EPRIfBrRfjLLBR5anY-y9Vc"
        />
    </head>
    <body class="overflow-x-hidden">
        <Header />
        <slot />
        <Toaster position="bottom-right" client:load />
        <Footer />
    </body>
</html>