---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Toaster } from "solid-toast";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Dise침o y desarrollo de p치ginas web en Colombia. Creamos sitios optimizados para SEO, rendimiento y adaptables a cualquier dispositivo. 춰Impulsa tu presencia online hoy! 游 +57 3015703750"
        />
        <meta
            name="keywords"
            content="dise침o web Bogot치, desarrollo de p치ginas web Colombia, dise침o web responsive, desarrollo web SEO, p치ginas web para negocios Bogot치"
        />
        <meta name="author" content="KoalaDevs" />
        <meta name="geo.region" content="CO-DC" />
        <meta name="geo.placename" content="Bogot치" />
        <meta
            property="og:title"
            content="Dise침o Web en Bogot치 | La mejor plataforma para iniciar tu sitio web profesional"
        />
        <meta
            property="og:description"
            content="Creamos sitios optimizados para SEO, rendimiento y adaptabilidad. 춰Impulsa tu presencia online hoy!"
        />
        <meta property="og:url" content="https://koala-devs.com/" />
        <meta property="og:type" content="website" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>
            Creaci칩n de p치ginas web en Bogot치 | La mejor plataforma para iniciar
            tu sitio web profesional
        </title>
        <meta
            name="google-site-verification"
            content="DvORPx4e1byP8W8N39K0EPRIfBrRfjLLBR5anY-y9Vc"
        />
    </head>
    <body class="overflow-x-hidden">
        <Header />
        <slot />
        <Toaster position="bottom-right" client:load />
        <Footer />
    </body>
</html>